/************* Utility & Common ****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green: rgba(26, 188, 156, 1);
    --blue: rgba(58, 84, 109, 1);
    --dark-blue: rgba(44, 62, 80, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
.my-bg-green{background-color: var(--green);}
.my-bg-blue{background-color: var(--blue);}
.my-bg-dblue{background-color: var(--dark-blue);}
.my-color-green{color: var(--green)!important;}
.my-icon{width: 30px; height: 30px;}

/************* Navigation bar ****************/
.navbar{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
}

/************* Hover ****************/
.hov-underline:hover{text-decoration: underline!important;}
.hov-overlay::after{
    content: '+';
    font-size: 100px; font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 188, 156, 0.5);
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: 0;
    transition: 0.5s;
}
.hov-overlay:hover::after{
    opacity: 1;
}
.hov-color-green:hover{color: var(--green)!important;}